#individualTable td:nth-child(1) {
        font-weight: 600;
        
}

#individualTable  {
        display: none;
        
}





/* th {
        background-color: rgb(255, 208, 0);
        color: black;
    } */