#individualTable td:nth-child(1) {
        font-weight: 600;
        
}

#individualTable th:nth-child(1) {
        width: 17%;    
}

#individualTable  {
        display: none;        
}

#notPumpingInfo  {
        display: none;        
}

#analyzeTable th:nth-child(1) {
        width: 15%;    
}

#pumpInfo {
        padding-top: 15px;  
}

#monthly, #YTD  {
        padding-right: 50%;
        text-align: right;         
}

#pnlTitle {
        text-align: right;
}


