html,
body {
  --color-primary: #1c4662;
  --color-secondary: #e07719;
  --color-error: #cc3333;
  --border-radius: 10px;
  height: 100%;
}

#curveOptions .row {
  display: flex;
  justify-content: center;
}

#curveOptions .col-md-2 {
  align-self: flex-start;
}

#curveOptions #view,
#curveOptions #timeframes {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#curveOptions #view {
  justify-content: flex-end;
  margin-right: 5%; /* Adjust the gap size as needed */
}

#curveOptions #timeframes {
  justify-content: flex-start;
  margin-left: 5%; /* Adjust the gap size as needed */
}

#curveOptions a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
}

#view > a.active,#timeframes > a.active {
  border-bottom: 2px solid black;
}

#view > a:hover,#timeframes > a:hover {
  cursor: pointer;
  color: var(--color-secondary);
  border-bottom: 2px solid black;
}
select {
  text-align-last: center;
}

.navbar {
  background-color: #1c4662;
}


@media (min-width: 768px) {
  #filler0 {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: medium;
  }
  #view,
  #timeframes,
  #siteSelection {
    padding-left: 0;
    display: block;
    margin: auto;
    text-align: center;
  }

  #siteSelection > a {
    text-align: center;
  }
  #filler0 {
    height: 10px;
  }
}